# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Directory for instrumented libs
lib-cov

# Coverage
coverage
*.lcov
.nyc_output

# Dependency directories
node_modules/
jspm_packages/

# TypeScript
*.tsbuildinfo

# Cache / build / temp
dist/
build/
.cache/
.rpt2_cache/
.rts2_cache_*

# Yarn Berry cache
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz

# Plug'n'Play artifacts
.pnp.*
.pnp.loader.*

# Others
.env.test
.eslintcache
.npm
.bak
.tern-port

# Ignore all of .yarn except releases and plugins
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

# Ignore .yarnrc only if you want Yarn to always be project-scoped
# (OPTIONAL depending on workflow)
# .yarnrc.yml
